@using RecordShopClassLibrary.Models.Read
@model OrderDetailProductViewModel


	  <tr>
     <td>@Model.Product.Name</td>
     <div>

      </div>
      <td>@Model.Product.Price</td>

      <td>@Model.Product.CategoryName</td>

      <td>@Model.Quantity</td>

      </tr>
