@using RecordShopClassLibrary.Models.Read
@model IEnumerable<ProductViewModel>

<div class="row row-cols-1 row-cols-md-4 g-4">

		@foreach(var product in Model)
		{
		
		
			<div class="card" style="width: 18rem;">
 
			<div class="card-body">

			<partial name="_productInfoPartial" title="" model="product"/>

</div>  

</div>
        

		}
