
@using Microsoft.AspNetCore.Identity
@using RecordShopClassLibrary.Models.Read
@using RecordShopMvc.Models.Entities
@inject SignInManager<ApplicationUser> SignInManager
@model ProductPageViewModel

	<div class="text-align-left">
		<h1>
	Products
	</h1>
	</div>


	<partial name="_dropDownPartial" model="Model" />
	
    <partial name="_productDeckPartial" model="Model"/>


