
@using Microsoft.AspNetCore.Identity
@using RecordShopClassLibrary.Models.Read
@using RecordShopMvc.Models.Entities
@inject SignInManager<ApplicationUser> SignInManager
@model ProductPageViewModel


    <div class="row">

        <div class="col-3">
         
        </div>
        <div class="col-3">
             
       </div>
       <div class="col-3">
             
        </div>

             <div class="col-3">
             <partial name="_productTopThreeTablePartial" model="Model.TopProducts" />

        </div>

        </div>

        

    </div>
        <div class="row">
        <div class="col-md-8 offset-md-2">
    <partial name="_productsPartial" model="Model"/>

        </div>
        </div>


