@using RecordShopClassLibrary.Models.Read
@model IEnumerable<OrderViewModel>

	
			<h2 class="text-center">Orders</h2>
			@foreach(var item in Model)
	{
		        <div class="row">
				<div class="col-md-8 offset-md-2 border mb-3 bg-secondary">
			<partial name="_orderViewPartial" model="item"/>

		</div>
		</div>

		

	}
	

